

RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://elitecomp.co.ke/$1 [R,L]

# Add the redirects for urls
RewriteRule ^/?$ index.html [NC,L]
RewriteRule ^about-us/?$ about-us.html [NC,L]
RewriteRule ^acer/?$ acer.html [NC,L]
RewriteRule ^acer2/?$ acer2.html [NC,L]
RewriteRule ^acer3/?$ acer3.html [NC,L]
RewriteRule ^acerdesk/?$ acerdesk.html [NC,L]
RewriteRule ^acerl/?$ acerl.html [NC,L]
RewriteRule ^banner/?$ banner.html [NC,L]
RewriteRule ^blog/?$ blog.html [NC,L]
RewriteRule ^book/?$ book.html [NC,L]
RewriteRule ^bottle/?$ bottle.html [NC,L]
RewriteRule ^cloth/?$ cloth.html [NC,L]
RewriteRule ^contact/?$ contact.html [NC,L]
RewriteRule ^cooker/?$ cooker.html [NC,L]
RewriteRule ^cpu/?$ cpu.html [NC,L]
RewriteRule ^cups/?$ cups.html [NC,L]
RewriteRule ^dell/?$ dell.html [NC,L]
RewriteRule ^dell14/?$ dell14.html [NC,L]
RewriteRule ^dell15/?$ dell15.html [NC,L]
RewriteRule ^dell57/?$ dell57.html [NC,L]
RewriteRule ^delld1/?$ delld1.html [NC,L]
RewriteRule ^delld2/?$ delld2.html [NC,L]
RewriteRule ^delld3/?$ delld3.html [NC,L]
RewriteRule ^delldesk/?$ delldesk.html [NC,L]
RewriteRule ^dellins/?$ dellins.html [NC,L]
RewriteRule ^dellat/?$ dellat.html [NC,L]
RewriteRule ^dellp/?$ dellp.html [NC,L]
RewriteRule ^dellvos/?$ dellvos.html [NC,L]
RewriteRule ^e15/?$ e15.html [NC,L]
RewriteRule ^elite840/?$ elite840.html [NC,L]
RewriteRule ^elitefolio/?$ elitefolio.html [NC,L]
RewriteRule ^fridge/?$ fridge.html [NC,L]
RewriteRule ^fulldell/?$ fulldell.html [NC,L]
RewriteRule ^hp/?$ hp.html [NC,L]
RewriteRule ^hp210/?$ hp210.html [NC,L]
RewriteRule ^hpcomplete/?$ hpcomplete.html [NC,L]
RewriteRule ^hpd1/?$ hpd1.html [NC,L]
RewriteRule ^hpd2/?$ hpd2.html [NC,L]
RewriteRule ^hpd3/?$ hpd3.html [NC,L]
RewriteRule ^hpdesk/?$ hpdesk.html [NC,L]
RewriteRule ^hpg2/?$ hpg2.html [NC,L]
RewriteRule ^hpprobook/?$ hpprobook.html [NC,L]
RewriteRule ^idea/?$ idea.html [NC,L]
RewriteRule ^index/?$ index.html [NC,L]
RewriteRule ^lenovo/?$ lenovo.html [NC,L]
RewriteRule ^lenovod1/?$ lenovod1.html [NC,L]
RewriteRule ^lenovod2/?$ lenovod2.html [NC,L]
RewriteRule ^lenovod3/?$ lenovod3.html [NC,L]
RewriteRule ^lenovodesk/?$ lenovodesk.html [NC,L]
RewriteRule ^messaging/?$ messaging.php [NC,L]
RewriteRule ^phone/?$ phone.html [NC,L]
RewriteRule ^portege/?$ portege.html [NC,L]
RewriteRule ^probook/?$ probook.html [NC,L]
RewriteRule ^revolve/?$ revolve.html [NC,L]
RewriteRule ^satelite/?$ satelite.html [NC,L]
RewriteRule ^tecra/?$ tecra.html [NC,L]
RewriteRule ^thinkpad/?$ thinkpad.html [NC,L]
RewriteRule ^tosbibad1/?$ tosbibad1.html [NC,L]
RewriteRule ^tosbibad2/?$ tosbibad2.html [NC,L]
RewriteRule ^tosbibad3/?$ tosbibad3.html [NC,L]
RewriteRule ^toshiba/?$ toshiba.html [NC,L]
RewriteRule ^toshibadesk/?$ toshibadesk.html [NC,L]
RewriteRule ^tvs/?$ tvs.html [NC,L]
RewriteRule ^v15/?$ v15.html [NC,L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php73” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php73 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
